@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Work+Sans:wght@300;400;500;600;700&display=swap');

@import url(styles/cabecalho.css);
@import url(styles/container_sobre.css);
@import url(styles/caroussel.css);
@import url(styles/container_cards.css);
@import url(styles/apoiadores.css);
@import url(styles/somar_links.css);
@import url(styles/footer.css);
@import url(styles/login.css);
@import url(styles/indicadores.css);
@import url(styles/projetos.css);
@import url(styles/projeto.css);
@import url(styles/videos.css);
@import url(styles/pagina-diretor.css);


:root {
    --preto: #000000dc;
    --branco: #f1f1f1;
    --branco-hover: #cfcdcd;
    --cinza: #afaeae;
    --ods-1: #ED1E3A;
    --ods-1-hover: #d61d35;
    --ods-2:#DBA63C;
    --ods-2-hover: #b88b32;
    --ods-3: #4C9E3A;
    --ods-3-hover: #3b802b;
    --ods-4: #C61831;
    --ods-4-hover:#9e1429;
    --ods-5: #F04320;
    --ods-5-hover:#d33b1d;
    --ods-6:#29BAE6;
    --ods-6-hover:#1d8daf;
    --ods-7: #FDC308;
    --ods-7-hover:rgb(185, 142, 0);
    --ods-8: #A21943;
    --ods-8-hover: #70112e;
    --ods-9:#FF6726;
    --ods-9-hover:#c44f1d;
    --ods-10: #E11667;
    --ods-10-hover: #b31152;
    --ods-11:#FF9B28;
    --ods-11-hover: #ce7d21;
    --ods-12: #BE8B38;
    --ods-12-hover: #9b712d;
    --ods-13: #407E45;
    --ods-13-hover: #2e5c32;
    --ods-14: #0B95DD;
    --ods-14-hover: #0875af;
    --ods-15: #59BC34;
    --ods-15-hover: #48972c;
    --ods-16: #0068A2;
    --ods-16-hover: #034d75;
    --ods-17: #144A6F;
    --ods-17-hover: #113953;

    --azul: #0d6efd;
    --azul-hover: #3082fc;
    --branco: #f1f1f1;
    --fundo-links: linear-gradient(97.54deg, #c9def7f1.20%, #326589 65.37%);


    --fonte-secundaria: 'Poppins', sans-serif;
    --fonte-primaria: 'Work Sans', sans-serif;

}
body {
    width: 100vw;
    overflow-x: hidden; 
}
.titulos {
    font-family: var(--fonte-primaria);
    text-transform: uppercase;
    font-size: 20px;
    padding: 1em 0 0.2em;
    font-weight: 600;
}

.btn {
    font-size: 14px;
    font-family: var(--fonte-secundaria);
}

.texto_xs {
    font-family: var(--fonte-secundaria);
    font-size: 12px;
}

.titulos_secundario {
    font-family: var(--fonte-secundaria);
    font-size: 18px;
}

.link {
    text-decoration: none;
}

.btn-tamanho {
    align-self: center;
    width: 150px;
}
