/* CSS da seção de cards ODS */

.texto-ods {
    font-family: var(--fonte-primaria);
    font-size: 14px;
    text-transform: uppercase;    
}

.card.ods {
    margin-left: 22em;
}

.btn-light {
    width: 110px;
    
}
