.titulos_caroussel {
    font-family: var(--fonte-primaria);
    text-transform: uppercase;
    font-size: 20px;
    padding: 1em 0 0.2em;
    font-weight: 600;
}

.textos_caroussel {
    font-family: var(--fonte-secundaria);
}

#texto-principal {
    max-width: 1000px;
    padding: 20px;
    text-align: justify!important;
}
.container__caroussel {
    max-width: 70%;
    margin: auto; /*  Caroussel muito grande pode distorcer a qualidade das imagens dele ( caso as imagens forem de baixa qualidade ) */
    margin-top: 3em;
    margin-bottom: 3em;
}



@media screen and (max-width: 875px) {
    .titulos_caroussel {
        font-size: 16px;
    }
    
    .textos_caroussel {
        font-size: 14px;
    }

    .container__caroussel {
        max-width: 100%;
        margin: auto; /*  Caroussel muito grande pode distorcer a qualidade das imagens dele ( caso as imagens forem de baixa qualidade ) */

    }
}

@media screen and (max-width: 500px) {
    .titulos_caroussel {
        font-size: 14px;
    }
    
    .textos_caroussel {
        font-size: 12px;
    }    



}