/* CSS da seção de cards ODS */
.container__cards {
    padding: 4em;
    text-align: center;
    background: url(../imagens/fundoOndasColoridasGGTB.png)repeat;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.card-body {
   
    align-content: center;
}

.ods-1 {
    background-color: var(--ods-1);
}
.ods-2 {
    background-color: var(--ods-2);
}
.ods-3 {
    background-color: var(--ods-3);
}
.ods-4 {
    background-color: var(--ods-4);
}
.ods-5 {
    background-color: var(--ods-5);
}
.ods-6 {
    background-color: var(--ods-6);
}
.ods-7 {
    background-color: var(--ods-7);
}
.ods-8 {
    background-color: var(--ods-8);
}
.ods-9 {
    background-color: var(--ods-9);
}
.ods-10 {
    background-color: var(--ods-10);
}
.ods-11 {
    background-color: var(--ods-11);
}
.ods-12 {
    background-color: var(--ods-12);
}
.ods-13 {
    background-color: var(--ods-13);
}
.ods-14 {
    background-color: var(--ods-14);
}
.ods-15 {
    background-color: var(--ods-15);
}
.ods-16 {
    background-color: var(--ods-16);
}
.ods-17 {
    background-color: var(--ods-17);
}

.texto-ods {
    font-family: var(--fonte-primaria);
    font-size: 14px;
    text-transform: uppercase;
}

.btn-light {
    width: 110px;
}

.icone__ods-celular {
    width: 50%;
}

.card__ods {
    width: 200px;
    height: 300px;
}


@media screen and (max-width: 1000px) {

    .container__cards {
        padding: 1em;
        align-items: center;
    }

    .card__ods {
        width: 150px;
        height: 250px;
    }

    .icone__ods-celular {
        width: 40%;
    }

    .card__ods {
        width: 150px;
        height: 250px;
    }
}

@media screen and (max-width: 505px) {

    .icone__ods-celular {
        width: 30%;
    }

    .card__ods {
        width: 150px;
        height: 200px;
    }

}

