.container-diretor {
    width: 70%;
    margin: 2em auto 2em auto;
}

.img-diretor {
    width: 10em;
    border-radius: 10em;
    border: 3px solid var(--azul);
    margin-bottom: 0.5em;
}

.projetos-diretor {
    display: flex;
}

.collapse-card {
    width: 100%;
}