.container-diretor {
    width: 70%;
    margin: 2em auto 2em auto;
}

.img-diretor {
    width: 10em;
    border-radius: 10em;
    border: 3px solid var(--azul);
    margin-bottom: 0.5em;
}

.projetos-diretor {
    /* display: flex; */
}

.collapse-card {
    width: 100%;
}

.icone_pg_diretor {
width: 35px;
}

.card-projeto-diretor {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-body-projetos {
    max-width: 300px;
}

.item-card {
    margin: 2em;
}

.container-cards-teste {
    display: flex;
    flex-direction: row;
}