.container__caroussel_projeto {
    display: flex;
    justify-content: center;
}

.imagem_projeto_caroussel {
    max-width: 800px;
}

.container_video-projeto {
    background: url(../imagens/fundoOndasColoridasGGTB.png);

}

.apoiador {
    width: 10em;
    border-radius: 10em;
    border: 3px solid var(--azul);
    margin-bottom: 0.5em;
}

.container__colaboradores {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}