
.container__caroussel_projeto {
    display: flex;
    justify-content: center;
}

.imagem_projeto_caroussel {
    max-width: 800px;
}

.container_video-projeto {
    background: url(../imagens/fundoOndasColoridasGGTB.png);

}