
.video_ods {
    display: flex;
    justify-content: center;

}

.video_item {
    width: 70%;
    height: 80vh;
    margin-top: 3em;
    margin-bottom: 3em;
}

@media screen and (max-width: 875px) {

    .video_item  {
        width: 100%;
        height: 45vh;
        margin: 0;
    }
}